html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    background-image: url(https://cdn.hipwallpaper.com/i/53/62/PyFVs7.jpg);
    font-size: 15px;
}

h1, h2, h3, h4, h5, p, div {
    margin: 0;
    box-sizing: border-box;
}
.header {
    text-align: center;
}
.header img {
    width: 100%;
}

.main {
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    word-break: break-all;
    border: 1px solid black;
    background: white;
    overflow: hidden
}

.product {
    padding: 10px;
    box-sizing: border-box;
    width: 20%;
    min-width: 150px;
    max-width: 130%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: relative;
    float: left;
}

.right {
    position: absolute;
    top: 5px;
    right: 5px;
}

.right img {
    margin: 10px;
    width: 25px;
    display: block;
}

.main-photo {
    text-align: center;
}

.main-photo img {
    width: auto;
    height: auto;
    max-height: 80%;
    max-width: 80%;
}

.text-info {
    text-align: left;
}
.text-info img {
    width: 30px;
    float: right;
    cursor: pointer;
}

.text-info img:hover {
    opacity: inherit;
    background: yellow;
}

.green {
    color: green;
}

.text-info h2 span {
    font-size: 17px;
}
.text-info > p {
    margin-bottom: 10px;
}

.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

